%h2 upload に成功しました。URLは下のとおりです。

.url
  = link_to "#{@data[:url]}", @data[:url]

.message
  忘れないようにしてください。また、URLを問い合わせしていただきましても、
  お答えできませんのでご了承ください。
  URLを忘れた場合、再度ファイルのアップロードをしてください。 
  %br
  下のリンク（mailto）より、URLを、メール送信することをおすすめします。
  %br
  ご利用利ありがとうございました。

.mailto
  = link_to "このURLをメール送信する", "mailto:?body=#{@data[:url]}"

.footer
  = link_to 'UHPIC homeへ', upload_files_path
