%h1 Listing upload_files

%table
  %tr
    %th Upload file name
    %th Saved file name
    %th Saved file name with path
    %th Upload client ip
    %th Upload time
    %th File size
    %th
    %th
    %th

  - @upload_files.each do |upload_file|
    %tr
      %td= upload_file.upload_file_name
      %td= upload_file.saved_file_name
      %td= upload_file.saved_file_name_with_path
      %td= upload_file.upload_client_ip
      %td= upload_file.upload_time
      %td= upload_file.file_size

%br

= link_to 'New Upload file', new_upload_file_path
