%h1 ファイルアップロード

%h2 注意事項
%ul
  %li 最低一つ以上ファイルを選択し、下の"upload"ボタンをおしてください。
  %li アップロードできるファイルは、拡張子がjpg/jpeg/png/gifの画像ファイルのみです。
  %li 各項目は必須ではありません。入力しなくても構いません。また、長すぎる場合、文末が切り取られます。



= form_for  @mo , :html => { :multipart => true }  do |f|
  - if @mo.errors.any?
    #error_explanation
      %h3= "下の原因でアップロードできませんでした。"
      %ul
        - @mo.errors.full_messages.each do |msg|
          %li= msg

  .delete
    いつ非公開にしますか？ 
    %br
    = select :moshikomi, :kikan_start, Moshikomi.kikan_start_choices,{:selected => @mo.kikan_start}
    = select :moshikomi, :kikan_day,  Moshikomi.kikan_day_choices,{:selected => @mo.kikan_day}
    に､非公開になります。

  .fields
    .message
      = f.fields_for :message do |msg|
        = msg.label :全体のタイトルは何にしますか？
        = msg.text_field :title,:size=>"20"
        %br
        = msg.label :全体のコメントを入力してください。
        = msg.text_area :body,:size=>"1x1"

    .upload_files
      ファイルを選択し、必要でしたら各コメントを入力してください。
      = f.fields_for :upload_files do |u|
        .upload_file
          = u.label :ファイルを選択してください。→
          = u.file_field :upload_file_name,:size=>"20"
          %br
          = u.label :この写真のコメントを入力してください。
          = u.text_area :comment,:size=>"5x2"
    
  .actions
    = f.submit 'upload'

