= form_for  @mo , :html => { :multipart => true }  do |f|
  - if @mo.errors.any?
    #error_explanation
      %h3= "下の原因でアップロードできませんでした。"
      %ul
        - @mo.errors.full_messages.each do |msg|
          %li= msg
  .fields
    .message
      = f.fields_for :messages do |msg|
        = msg.label :title
        = msg.text_field :title,:size=>"20"
        %br
        = msg.label :body
        = msg.text_area :body,:size=>"1x1"

    .upload_files
      = f.fields_for :upload_files do |u|
        .upload_file
          = u.label :upload_file_name
          = u.file_field :upload_file_name,:size=>"20"
          %br
          = u.label :comment
          = u.text_field :comment,:size=>"20"
    
  .actions
    = f.submit 'upload'
