%h1 Listing upload_files

%table
  %tr
    %th Upload file name
    %th Saved file name
    %th Upload client ip
    %th Upload time
    %th File size
    %th

  - @upload_files.each do |upload_file|
    %tr
      %td= upload_file.upload_file_name
      %td= upload_file.saved_file_name
      %td= upload_file.upload_client_ip
      %td= upload_file.upload_datetime
      %td= upload_file.upload_file_size
      %td= link_to 'show', upload_files_path+"/"+(upload_file.saved_file_name)
%br

= link_to 'New Upload file', new_upload_file_path
