%h1
  こちらは<a href="/">UIPIC<a>です。

.text
  依頼主から
  = @data[:upload_datetime]
  に画像のアップロードがありました。
  - if @data[:access_count] != 0
    あなたをのぞき、のべ
    = @data[:access_count]
    人の方が閲覧しており、 最後にアクセスしたのは、
    = @data[:last_access_datetime]
    です。
  なおこのURLは、最後にアクセスがあってから、しばらく経過すると
  閲覧ができなくなるシステムです。

  予定では
  = @data[:will_delete_datetime]
  に、閲覧不可になる予定です。

.datas
  -  datas = @data[:upload_files]
  -  datas.each do |data|
    .data
      .pictute
        -    url     = @data[:base_pic_url] + data.url_without_basepath
        -    comment =  data.comment
        = image_tag url, :alt=>''
      .comment
        = comment
